body {
    background: linear-gradient( rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20) ), url(../img/dj.jpg) center/100% repeat-y;
}

section {
    padding-bottom: 30px;
}

.title, .section__title {
    color: red;
}

.title {
    font-family: "Permanent Marker";
    text-align: center;
    font-size: 50px;
    letter-spacing: 3px;
    color: white;
    text-shadow: 1px 2px black;
}

.section__title {
    font-size: 28px;
    letter-spacing: 2px;
}


.grid {
    font-family: "Permanent Marker";
    margin: auto;
    width: 40%;
    display: table;
    border-spacing: 5px;
}

.row {
    display: table-row;
}

.big__key {
    opacity: 0.6;
    display: table-cell;
    border: 2px solid black;
    width: 150px;
    height: 120px;
    text-align: center;
    padding-top: 10px;
    margin-left: 30px;
    -moz-box-shadow:    2px 2px 10px 2px black;
    -webkit-box-shadow: 2px 2px 10px 2px black;
    box-shadow:         2px 2px 10px 2px black;
}

.big__key--inactive {
    background-color: white;
}

.big__key--active {
    background-color: red;
    color: white;
}

.big__key--letter {
    font-size: 50px;
}

.key__description {
    font-family: Raleway;
}

.btn__loop-stop {
    color: white;
    background-color: #161616;
    font-family: "Permanent Marker";
    border: none;
    height: 30px;
    width: 100px;
    position: relative;
    float: right;
    margin-top: 5px;
    margin-right: 55px;
}

.btn__loop-stop:hover {
    background-color: red;
}
