/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    /*background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);*/
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 150px 100px 100px 100px;
}



/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #f982bd;
    margin-bottom: 130px;
    font-family: "Open Sans";
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #f982bd;
    top: -7px;
    right: 10px;

}

.player-current-box {
    background-color: #f982bd;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

.btn, #messages {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

#messages {
    top: 515px;
    text-align: center;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #f982bd;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll {
    top: 403px;
    display: none;
}
.btn-hold { top: 467px;}
.btn-mute {
    top: 15px;
    left: 85px;
    float: left;
    position: absolute;
    font-size: 16px;
}

.btn-mute i {
    font-size: 22px;
    display: inline;
    margin-right: 20px;
}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

#dice-1 {
    top: 285px;
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #f982bd; }


.winning-score-panel {
    top: 85px;
    position: absolute;
    left: 31%;
    background-color: #f982bd;
    color: white;
    padding: 10px 15px;
}

.winning-score-panel * {
    margin-right: 10px;
}

.winning-score-panel label {
    font-family: "Open Sans", Arial;
    font-size: 16px;
}

.btn-set-score {
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 3px 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-set-score:hover {
    background-color: lightskyblue;
}

.txt-winning-score:focus {
    background-color: beige;
}

#msg-winning-score {
    display: none;
    text-align: center;
    font-weight: bold;
}
